// Colors

//primary
$bgc1: #014E56;
$clr1: #FFFFFF;
$clr2: #F67e7e;

//secondary
$bgc2: #79C8C7;




// Breakpoints
$mobile-breakpoint: 576px;
// $narrow-breakpoint: 980px;
$normal-breakpoint: 1110px;